body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: #f9fafb;
  line-height: 1.6;

}

main{
  margin: 40px;
}
.logo{
  width: 60px;
  margin-left: 30px;
}


.intro-section{
  
}
.intro-section h2{
  color: rgb(68, 68, 189);
}
.headers{
   color: rgb(68, 68, 189);
} 

.btn{
  display: flex;
  padding: 10px;
  gap: 20px;
}

.btn button{
  width: 110px;
  height: 35px;
  border: none;
  font-size: larger;
  color: white;
  background-color: rgb(20, 108, 138);
}

.btn span{
  text-decoration: underline;
  color: rgb(83, 83, 188);
  font-size: larger;
}


.fig-section{
  width: 600px;
  height: 400px;
  
}


table, th, td {
     width: 100px;
     border: 1px solid black; 
     border-collapse: collapse;
     
}

th, td {
    padding: 8px; 
    width: 10px;
    text-align: center;
  }

th{
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f9fafb;
}



  .required {
    color: red;
    font-weight: bold;
  }
.name-mail{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
  
  
}

.Fullname{
  
}

.Fullname input{
  width: 300px;
  height: 23px;

}
.Email{

}
.Email input{
  width: 300px;
  height: 23px;

}

.contact-info{
  display: flex;
  flex-direction: row;
  gap: 43px;
  margin-bottom: 40px;
  
}

#state{
  width: 300px;
  height: 30px;

}

.contact input{
  width: 300px;
  height: 23px;

}

textarea{
  width: 800px;
  height: 100px;
}

.big-textarea{
  margin-bottom: 50px;
}

.means-contact input{
  gap: 30px;
} 